.delete-task-button{
    font-weight: bold;
  color:darkred;
  padding:5px;
  font-size: 22;

}
.delete-task-button:hover{
    cursor: pointer;
}
.todo-list{
    margin:auto;
    padding:0px;

}


.task{

    display:flex;
    align-items: center;
    justify-content: space-between;
    /* align-content: space-between; */
    /* margin:auto; */
    padding:0px;
    /* height:100%; */
    width:300px;;
    font-size:16px;
    cursor: pointer;

   
}
.task--completed{
    text-decoration: line-through;
    text-decoration-color: green;
}