.delete-task-button{
  background-image: url("/images/x-button.svg");
  background-position:100% 100%; 
  background-repeat: no-repeat;
  width:15px;
  /* height:auto; */
  padding:10px;

}
.todo-list{
    margin:auto;
    padding:0px;

}


.list-row{

    display:flex;
    align-items: center;
    justify-content: space-between;
    /* align-content: space-between; */
    /* margin:auto; */
    padding:5px;
    /* height:100%; */
    width:300px;;
    font-size:16px;
   
}